#banner{
	margin-top: 50px; /*el banner inicia abajo del header*/
	position: relative;
}

#banner img{
	width: 100%;
	height: 100%;
}

#banner .contenedor{

	/*hacemos que el texto se coloque a la izquierda y al centro de la imagen del banner*/
	position: absolute; /*contenedor se va a colocar en función de banner*/
	top: 50%; /*mandamos arriba y */
	left: 50%; /*a la izquierda*/
	transform: translateX(-50%) translateY(-50%);
	color: #fff; /*color blanco*/

}

/**/
#banner h2{
	font-size: 28px;
}
/*
#banner a{
	display: block;
	width: 100px;
	color: #fff;
	text-decoration: none;
	
	padding: 7px; /*damos distancias entre texto-rectangulo*/
	/*margin-top: 10px;/*damos distancias entre texto-rectangulo*/

	/*border: 3px solid #fff; /*borde del rectángulo color blanco*/
/*
}

*/

/*al pasar el mouse sobre el 'botón' pintar de un color un poco más oscuro*/
#banner a:hover{
	background-color: rgba(51,51,51,0.5);
}


/*----CSS para hacer responsive el BANNER---*/
@media (min-width: 480px){ /*si es mayor resolución que un cel*/
	#banner h2{
		font-size: 40px;
	}

	#banner a{
		margin-top: 40px;
	}
}

@media(min-width: 768px){ /*si es una tablet*/
	#banner{
		height: 300px; /*altura de 300px*/
	}

	#banner img{
		height: auto;
		overflow: hidden; /*si la imagen se sale del banner, ocultar ésa área que se salga*/
		/*margin-top: -100px;
	}
}

@media(min-width: 1024px){ /*si es una PC*/
	
	#banner img{
		height: auto;
		/*margin-top: -200px; /*la imagen sube ligeramente*/
	}
}