/*Éste archivo.css contiene los estilos principales del proyecto
también importa las otras hojas de estilos que cumplen una función específica*/
/*
importamos la fuente desde Google...
importamos el archivo css 'menu.css'*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 

@import url(menu.css); 
@import url(banner.css);
@import url(paginaprincipalvinculos.css);
@import url(info.css);

/*Estilos a todo el documento*/
*{
	margin: 0; /*quitamos a todo el margen*/
	padding: |0; /*Establece la anchura de algunas o todas las zonas de relleno de los elementos*/
	border-box; /*el padding y border de ese elemento no incrementan su ancho, es muy importante a la hora de hacer la página 'Responsive'*/
	
}

/*Estilos que se aplican a todo el <body>*/
body{
	font-family: 'Open Sans', sans-serif; /*fuente para todo el texto*/
}

/*Estilos aplicados al header*/
header{
	width: 100%;
	height: 52px; /*alto del header*/
	background: #333; /*color fondo del header*/
	color: #fff; /*color del texto blanco*/
	
	/*indicamos que se quede pegado a la izquierda si la ventana de la página no cubre toda la pantalla*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100; /*siempre va a estar encima de los demás elementos*/
}

/*Estilos del contenedor*/
.contenedor{

	width: 98%; /*El ancho no cubre el 100% de la página, dejamos un pequeño espacio a la izquierda*/
	margin: auto; /*Se centra automáticamente con respecto al <div> padre del contenedor*/
}

h1{
	float: left;
}


/*Animamos las imágenes*/

/*Estilos a nuestros íconos propios*/
.misiconos{
	margin-top: 10px;
	width: 30px;
	height: 30px;
	padding-right: 5px;
}
/*Estilo para limpiar los floats y el estilo cubra todo lo que deba*/
header .contenedor{
	display: table;
}

/*a todos los section*/
section{
	width: 100%; /*la caja cubre toda el espacio horizontal y empuja otros hacia abajo*/
	margin-bottom: 25px; /*separación*/
}

/*Estilos para las lineas*/
hr { 

	background: red;
	/*
   border: 2px solid #4bceb4; 
   border-radius: 100px /4px; 
   height: 0px; 
   text-align: center; 	width: 100%;
	*/
 } 

#bienvenidos{
	text-align: center;
}

#banner img{
	/*Ancho y alto original*/
	width: 100%; 
	height: 100%;
	
	/*Pero establecemos valores máximos*/
	max-width: 2000px;
	max-height: 3000px;
}

/*----estilos del footer----*/

/*------------------Estilos de <footer>------------------*/

.footer {
  background: #333;
  color: #fff;
  padding: 7px;
  text-align: center;
}

.copy{
	font-size: 20px;
}

.footer .social [class^="icon-"] { /*aplica al footer y a todos los íconos*/
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 20px;
}



.copy{
	font-size: 20px;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a{
	color: #333;
	text-decoration: none; /*quita el subrayado de los enlaces*/
}


/*----CSS para hacer responsive el header---*/
@media(min-width: 120px){ /*Aquí sólo ajustamos el tam del títutlo (para no distorsionra)*/
	.titulo{
		font-size: 20px;
	}

	.copy{
		font-size: 14px;
	}
}
@media(min-width: 320px){ /*sólo ajustamos el títutlo*/
	.titulo{
		font-size: 20px;
	}

	.copy{
		font-size: 14px;
	}
}
@media (min-width: 480px){ /*Si es mayor o igual a tablet hacer que sean 2 columnas*/
	.titulo{
		font-size: 35px; /*sólo ajustamos el títutlo*/
	}
}

/*----CSS para hacer responsive el contenedor---*/
@media(min-width: 1024px) {/*Para todas las PC*/
	
	.contenedor{
		width: 1000px;  /*Ponemos TODOS los contenedores en 1000px (lo centra y alinea). SI QUITAMOS ÉSTE VALOR LOS CONTENEDORES LLEGAN HASTA LAS ESQUINAS*/
	}

}

/*----CSS para hacer responsive el footer---*/
@media(min-width: 480px){
	.footer .social [class^="icon-"] {
    	margin: 0 10px;
    	/*padding: 15px;*/
  	}

  	#contenedor h1{
  		font-size: 35px;
  	}
}
@media(min-width: 768px){
	.sociales{
		 width: auto;
	}

	footer .contenedor{
		justify-content: space-between; /*Los manda a los extremos*/
	}
}


/*----CSS para hacer responsive el footer---*/
@media(min-width: 768px){
	.sociales{
		 width: auto;
	}

	footer .contenedor{
		justify-content: space-between; /*Los manda a los extremos*/
	}
}
@media(min-width: 1024px){
	.contenedor{
		width: 1000px;
	}
}