/*CSS que maneja el <section> 'info'*/
#info{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info .contenedor{
	display: flex; /*los ponemos en una sola linea*/

	/*hacemos que se adapte a la ventana (en una sóla linea y si ya no queda espacio, mandar abajo)*/
	flex-wrap: wrap;
	justify-content: center;
}

/*accedemos a los divs del section info*/
.info-pet{
	margin: 20px;
}

/*estilos para las imágenes*/
.info-pet img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff;
}

/*----CSS para hacer responsive el info---*/

@media (min-width: 480px){ /*Si es mayor o igual a tablet hacer que sean 2 columnas*/
	.info-pet{
		width: 40%;
	}
}

@media(min-width: 1024px){ /*Si es PC*/
	.info-pet{
		width: auto; /*autoajustar que hace que sea una linea*/
	}
}


