
/*CSS que maneja el <header> 'menú	'*/
#menu-bar{
	display: none;
}

/*label del header*/
header label{
	float: right;
	font-size: 28px;
	margin: 6px 0;
	cursor: pointer; /*al pasar el mouse sobre el header cambia por una manita*/
	
}

.menu{
	position: absolute;
	top: 50px; /*indicamos que inicie desde*/
	left: 0;/*la esquina superior izquierda pero abajo del header*/
	width: 100%;
	height: 100vh; /*para que ocupe siempre el 100% del alto de la ventana*/
	background: rgba(51, 51, 51, 0.9);

	/*animación que oculta y muestra los elementos del menú*/
	transition: all 0.5s;
	transform: translateX(-100%); /* - -> indica hacia la izquierda*/

}

.menu a{
	display: block;
	color: #fff;
	height: auto;
	text-decoration: none;
	padding: 15px; /*distancia entre un elemento y otro*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	
	
}

/*Cuando pasamos el mouse encima lo pinta de blanco*/
.menu a:hover{ /*hover: evento cuando pasamos el mouse*/
	background: rgba(255, 255, 255, 0.5);
}

/* ~ -> se saca con alt + 126*/
/*Cuando damos clic en el ícono(checked) del menú lo muestra u oculta*/
#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}

/*-----hacemos responsive ése menú (para PC)-----*/
@media (min-width:1024px){ /*1. apartir de 24 pix(en pantalla de pc), realizar lo sig*/
	.menu{
		position: static;
		width: auto;
		height: auto; /*PERO NOS FUNCIONA MEJOR CON 50PX*/
		transform: translateX(0%); /*Aquí no transladamos a la izquierda*/
		float: right; /*lo mandamos a la derecha*/
		display: flex;/*en una sóla linea*/

	}

	.menu a{
		border: none;
	}
	/*ocultamos menú que se encargaba de mostrar y ocultar menú, por que ése es sólo para movil*/
	header label{
		display: none;
	}

}