/*Archivo CSS que maneja los estilos de la página 'index.html' la sección main(la principal) dónde se incluye
el contenido de las páginas, es decir las imágenes que servirán de vínculos para ir a las otras.*/
#vinculosprincipales h3, h4, h2{
	text-align: center;

}
#vinculosprincipales .contenedor{
	display: flex; /*para que las 3 imagenes estén en la misma linea*/
	justify-content: center;
	flex-wrap: wrap; /*Cuando un element no quepa, se baja a la sig linea*/
}

#vinculosprincipales article{
	margin: 30px; /*separamos imágenes...funciona muy bien con 20px y 30px*/
}


/*damos estilos a las imágenes que se encuentran dentro del div #vinculosprinciplaes*/
#vinculosprincipales img{

	/*ancho y alto*/
	width: 100%;
	height: 100%;
	
	max-height: 250px;
	max-width: 250px;

	/*le ponemos florecitas*/
	padding:4px;/*Distancia*/
	/*background:gray; /*Sombreado gris*/
	border-radius: 20px; /*Imagenes redondeadas*/
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.2s; /*Hacemos que el efecto de la subclase de abajo sea más lento y sutil*/
	-moz-transition:-webkit-transform 0.3s ease-in-out 0.2s;
	-o-transition: webkit-transform 0.3s ease-in-out 0.2s;
	box-shadow: #999 5px 5px 18px; /*Color sombre de imagenes*/

}

/*programamos evento de pasar el mouse encima de en las imágenes*/
#vinculosprincipales img:hover{
	
	transform:scale(1.2);/*Cuando pase el mouse por encima de la imagen escala a 1.2 donde 1 es 100%*/
	/*transform:  rotate(10deg); /*Gira ligeramente a la der*/
	/*transform:  rotate(-10deg); /*Gira ligeramente a la izq*/
}
