body{
    background-color: #f5f5dc;
}

.left p{
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    font-family: "American Typewriter";
}

#regresar{
    font-family: "Arial Black";
}

#footer p{
    text-align: center;
}

#header ul{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    list-style-type: none;
    text-align: center;
}

#header li{
    padding-left: 4px;
    padding-right: 4px;
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#header li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}

#header li a:hover{
    background-color: #333333;
    color: #ffffff;
}

div {
    border-radius: 5px;
}

#header {
    z-index: 1;
    position: fixed;
    width: 99%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 10px;
}

#name {
    float:left;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#principal{
    float:right;
    margin-right: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

h4 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
}

.right p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    font-family: Garamond, serif;
    color: #000000;
}

li {
    list-style-type: square;
}

a:hover {
    font-weight: bold;
}

.left {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 24%;
    height: 1000px;
    background-color: #B9D7D9;
    margin-bottom: 10px;
}

.leftvideo {
    position: relative;
    float: left;
    margin-top: 50px;
    width: 24%;
    height: 1600px;
    background-color: #B9D7D9;
    margin-bottom: 10px;
}

.right {
    position: relative;
    float: right;
    margin-top: 50px;
    width: 74%;
    height: 1000px;
    background-color: #F4EBC3;
    margin-bottom: 10px;
}

.rightvideo {
    position: relative;
    float: right;
    margin-top: 50px;
    width: 74%;
    height: 1600px;
    background-color: #F4EBC3;
    margin-bottom: 10px;
}

.audiocontenido{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1000px;
    background-color: #F4EBC3;
    margin-bottom: 10px;
}

.audiocontenido p{
    font-family: "Comic Sans MS", serif;
    font-size: medium;
}

#imghtmlg{
    margin-top: 200px;
}

#imghtml:hover{
    width: 300px;
    height: 300px;
}

table{
    border: solid #666666 3px;
}

th{
    border: solid #666666 3px;
}

td{
    border: solid #666666 3px;
    text-align: center;
}

#footer {
    position: relative;
    height: 50px;
    background-color: #668284;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

#separadorvideo{
    margin-top: 800px;
}

#separador{
    margin-top: 400px;
}

video{
    background-color: #333333;
}

.areatexto{
    margin-left: 150px;
    margin-right: auto;
    width: 600px;
    height: 120px;
    font-family: "Comic Sans MS", serif;
    font-size: larger;
}

.botones{
    margin-left: 150px;
    margin-right: auto;
    width: 600;
    height: 50px;
    font-family: "Comic Sans MS", serif;
    font-size: medium;
}

.botones:hover{
    background-color: #333333;
    color: #ffffff;
}

.titulo{
    text-align: center;
}

#footer p {
    position: relative;
    padding-top: 15px;
}

#video{
    position: relative;
    align-content: center;
}

#audio{
    position: relative;
    align-content: center;
}

#ejemplos{
    margin-left: 15%;
    margin-right: auto;
    width: 200px;
    height: 80px;
}